<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bnhktn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89A2EFFB1BB982C700FA5B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A2F0141BB982C700FA5B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89A2F01F1BB982C700FA5B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
